
h1 {
    text-align: center;
    /*方法1 */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* 方法2 */
    /* text-align: center;
    line-height: 800px; */
    /* 方法3 */
    /* display: flex;
    justify-content: center;
    align-items: center;
    line-height: 800px; */
    }
    .img1 {
/* 方法1 */
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}   
/*class*/
.req-cls{
    background-color:rgb(111, 208, 208)
}
/*ID*/
#like{
    color: aquamarine;
}